.container {
  margin: 20px;
  min-height: 100dvh;
}
.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.goBack {
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
  color: blue;
  transition: all 0.3s ease;
}
.goBack:hover {
  background-color: blue;
  color: white;
}
.info {
  border-radius: 10px;
  padding: 20px;
}
.details img {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}
.item a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
.item:hover {
  background-color: rgb(151, 6, 132);
  color: white;
}

.item {
  transition: all 0.5s ease;
  margin: 10px 0;
  border: gray solid 2px;
  padding: 10px;
  border-radius: 8px;
}
.details {
  flex: 1;
}
.list {
  display: flex;
  gap: 10px;
}
.info,
.additional {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  border: gray solid 2px;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
